*~
*.iml
.idea/
.idea_modules/
target/
*.log

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

hs_err_pid*

data/
/.project

# project file
*.project
.settings/
.classpath

